.page_inscription {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #F6F5F5;
    .information_content {
        grid-column: 1;
        padding: 10% 20%;
        h1 {
        color: $primary-colors;
        font-size: 60px;
        text-align: left;
        }
        p {
        color: $tertiary-colors;
        font-size: 20px;
        text-align: left;
        }
        label {
        text-align: left;
        color: $tertiary-colors;
        font-size: 14px;
        }
        .text_sous_submit {
            font-size: 14px;
            color: $tertiary-colors;
            a {
                color: $primary-colors;
                text-decoration: none;
            }
        }
        .connexion_form {
            display: flex;
            display: -webkit-flex;
            display: -moz-box;
            flex-direction: column;
            align-items: flex-start;
            .checkbox {
                display: flex;
                display: -webkit-flex;
                display: -moz-box;
                flex-direction: row-reverse;
                align-items: center;
            }
            .input-content {
                display: flex;
                display: -webkit-flex;
                display: -moz-box;
                flex-direction: column;
                width: 100%;
                input {
                    margin-top: 1rem;
                    border-radius: 10px;
                    padding: 10px;
                    width: 100%;
                    border: none;
                    &::placeholder{
                        color : #B2B1B1
                    }
                }
            }
            .submit-button {
                width: 100%;
                input {
                    background: linear-gradient(268.31deg, #FA8C28 33.09%, #FFD151 112.97%);
                    border: none;
                    border-radius: 10px;
                    width: 100%;
                    padding: 10px;
                    color: $white;
                    font-size: 16px;
                }
            }
            select {
               padding: 10px;
               border-radius: 10px;
               border: none
            }
        }
    }
    .image_content {
        grid-column: 2;
        img {
            height: 100vh;
            width: 100%;
            object-fit: cover;
        }
    }
}